.acceptedItem {
    width: 75%;
    min-height: 150px;
    margin-bottom: 15px;
    margin-right: auto;
    font-size: 15px;
    background: rgb(31,31,31) ;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-radius: 25px;
    box-sizing: border-box;
    align-items: center;
    display: inline-block;
}